<h1>Busca un artista en Spotify</h1>


<%= form_tag(public_search_path, method: 'get') do %>
	<%= label_tag :search %><br />
	<%= text_field_tag :search %>
	<br/>
	<%= radio_button_tag(:type, "artist") %>
	<%= label_tag("Por artista") %>
	
	<br/>
	<%= radio_button_tag(:type, "album") %>
	<%= label_tag("Por album") %>
	<br />

	<%= radio_button_tag(:type, "track") %>
	<%= label_tag("Por tracks") %>

	<br />
	<%= submit_tag "Buscar", :disable_with => "Please wait..." %>
<% end %>


