<h1>Busca en Spotify</h1>


<%= form_tag(public_search_path, method: 'get') do %>

<div class="row">
	<div class="small-3 columns"></div>
	<%= text_field_tag :search, nil, placeholder: 'Ingresa artista, Album o Canción' %>
	
	<div class="row">
		<div class="small-3 columns">
		<%= radio_button_tag(:type, "artist") %>
		<%= label_tag("Por artista") %>
		</div>
	</div>

	<div class="row collapse">
		<div class="small-3 columns">
			<%= radio_button_tag(:type, "album")  %>
			<%= label_tag("Por album") %>
		</div>
	</div>

	<div class="row collapse">
		<div class="small-3 columns">
			<%= radio_button_tag(:type, "track") %>
			<%= label_tag("Por tracks") %>
		</div>
	</div>
	<br />
	<div class="small-3 small-offset-3 columns"><%= submit_tag "Buscar", :disable_with => "Please wait...", class:"button </div>radius" %></div>
	
<% end %>


